listen: :{{ hysteria_listen_ports }}

acme:
  domains:
    - {{ public_domain }}
  email: {{ acme_email }}
  type: http

auth:
  type: password
  password: "{{ hysteria_auth_password }}"

masquerade:
  type: proxy
  proxy:
    url: {{ hysteria_masquerade_url }}
    rewriteHost: true
    xForwarded: false
  listenHTTP: :80
  listenHTTPS: :443
  forceHTTPS: true
